@import '/src/reset.css';

.videoBox {
  display: flex;
  align-items: center;
  width: 650px;
  margin-bottom: 0.2em;
  box-shadow: 6px 7px 21px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 7px 21px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 21px -8px rgba(0, 0, 0, 0.75);
  border: 1px solid lightgray;
  cursor: pointer;
  /* transition: transiform 250ms ease-in; */
}

.videoBox:hover {
  transform: scale(1.02);
}

.thumbnails {
  width: 35%;
  height: 100%;
}
.Title,
.channelTitle {
  margin-left: 0.4em;
  font-size: 1rem;
  cursor: pointer;
}
